.div1 {
    max-width: 980;
    padding: 12px, 80px;
    margin: 12px, 860px, 1020px, 80px;
    font-family: Inter;
    align-items: center;
}
.input1 {
    padding: 8px, 16px;
    border-radius: 8px;
    border: 1px solid #AC00FF;
    background: #E9D7FE;
    color: #AC00FF;
    font-size: 14px;
    margin-left: 100px;
  
}
.logo {
    padding: 14px;
    margin-left: 30px;
}
.prod {
    font-size: 18px;
    margin-left:100px; 
}
.serv {
    font-size: 18px;
    margin-left: 20px; 
}
.reso {
    font-size: 18px;
    margin-left: 20px;
}
.offe {
    font-size: 18px;
    margin-left: 22px;
}